<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/404.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <script src="{{url_for('static', filename='assets/js/script.js')}}"></script>
        <title> 404 </title>
    </head>
    
    <body>
        <main class="main">
            <div class="main__inner">
                <h1 class="main__title">Упс... Видимо вы ошиблись</h1>
                <h2 class="main__description">Пожалуйста, вернитесь на предыдущую страницу и повторите попытку</h2>
            </div>
        </main>
    </body>
</html>