<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/final.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <script src="{{url_for('static', filename='assets/js/script.js')}}"></script>
        <title> Quest </title>
    </head>
    
    <body>
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo">Квест</div>
                    <nav class="nav">
                        <a class="nav__link" href="/">Домой</a>
                    </nav>
                </div>
            </div>
        </header>
        
        <main class="main">
            <div class="container">
                <div class="main__inner">
                    <h1 class="main__title">Поздравляем с завершением квеста</h1>
                    <h2 class="main__description">Пройдя через портал вы видите ту самую таинственную фигуру. Незнакомец понял, что ему больше некуда бежать и рассказал, для чего он отключает порталы. Злодей решил захватить все миры, чтобы этого добиться он решил раздробить мультивселенную и захватывать каждую по очереди. Вы благополучно его обезвреживаете и отводите в отделение патруля измерений.</h2>
                    <a class="btn" href="/">В начало</a>
                </div>
            </div>
        </main>
    </body>
</html>