<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <script src="{{url_for('static', filename='assets/js/script.js')}}"></script>
        <title> Quest </title>
    </head>
    
    <body>
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo">Квест</div>
                    <nav class="nav">
                        <a class="nav__link" href="/">Домой</a>
                    </nav>
                </div>
            </div>
        </header>
        
        <main class="main">
            <div class="container">
                <div class="main__inner">
                    <h1 class="main__title">Квест для детей</h1>
                    <h2 class="main__description">Приветствую тебя в ведомстве патруля измерений. Из-за магической аномалии произошло аварийное отключение портала соединяющего множество других измерений. Для вас с напарником появилось новое задание! Направляйтесь к порталу и выясните, что произошло</h2>
                    <a class="btn" href="/quest">К квесту</a>
                </div>
            </div>
        </main>
    </body>
</html>