body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: gray;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    text-shadow: 2px 2px 1px black;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

/* Основа */
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../images/404.jpg) center no-repeat;
    background-size: cover;
}

.main__inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.main__title {
    color: white;
    margin-top: 5vh;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}

.main__description {
    color: white;
    margin-top: 2vh;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}