.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
    width: 100%;
    position: absolute;
    background: url(../images/quest4.jpg) center no-repeat;
    background-size: 100% 100%;
}

.main:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7) center;
    background-size: contain;
    z-index: 0;
}