body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: gray;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    text-shadow: 2px 2px 1px black;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

/* Шапка */
.header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: yellow;
}

/* Навигация */
.nav {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700; 
}

.nav__link {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
}

.nav__link:hover {
    color: yellow;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link:after {
    content: "";
	z-index: 1;
	position: absolute;
    top: 100%;
    left: 0;
	display: block;
    transition: opacity 0.1s linear;
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: yellow;
}


/* Основа */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
    width: 100%;
    height: 100vh;
    background: url(../images/main.jpg) center no-repeat;
    background-size: cover;
}

.main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  z-index: 0;
}

.main__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.main__title {
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.main__title:after {
    content: "";
    display: block;
    margin: 70px auto;
}

.main__description {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}

.main__description:after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 70px auto;
    background-color: yellow;
}

/* Выравнивание */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
}

/* Интерактивные панели */

.btn {
    display: inline-block;
    vertical-align: top;
    border: 3px solid white;
    border-radius: 20px;
    padding: 8px 30px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.1s linear, color 0.1s linear;
}

.btn:hover {
    cursor: pointer;
    border-color: yellow;
    color: yellow;
    background-color: black;
}